/* Animations */

h1{
  text-align: center;
}
h2{
  color:black;
}

.cards1 , .cards2{

  margin-left: 200px;
}

div{
  display: inline-block;
  margin-right:10px;
  margin-left:30px;
  margin-top:60px;
}

.cards2 div{
  margin-left: 30%;
}

body{
  background-image: url('/static/images/bg-01.jpg');
}

div img{

  width:250px;
  height:250px;
}
