{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
        Memory Management
    </title>

        <!-- CSS Additional Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/mvt/style.css' %}">


    <!-- JavaScript Additional Files -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/typeit.js' %}"></script>
    <script src="{% static 'js/mvt/demo.js' %}"></script>


    <title>Memory Management</title>

  </head>
  <script>
      var totalMemory = {{ totalMemory }};
      var totalMemoryQueue = {{ inputMemory }};
  </script>

  <body style="background-image: url('https://www.hdwallpapers.in/walls/3d_cubes-HD.jpg');background-size:cover">

    <div class="container-fluid">
      <div id="page-heading" style = "font-family : Cursive; color : #FCE4EC;padding-top: 20px;">
          <b style="font-size: 50px;">Multiprogramming With Variable Number of Tasks</b>
      </div>
      <div id="selection-form" style="padding:20px">
          <button type="button" id="first-fit-select" class="btn btn-primary" style="margin-right: 50px;height: 50px;width:100px"><b style="font-size: 20px;">First-Fit</b></button>
          <button type="button" id="best-fit-select" class="btn btn-primary" style="height: 50px"><b style="font-size: 20px;">Best-Fit</b></button>
          <button type="button" id="worst-fit-select" class="btn btn-primary" style="margin-left: 50px;height: 50px;width:120px"><b style="font-size: 20px;">Worst-Fit</b></button>
      </div>

      <div id="demo-box" class="container" style="background-color: white;opacity: 0.8;padding-left: 100px">
          <div class="col-sm-4" id="right-box" style="background-color: #76FF03;opacity: 1;margin:10px">
              <div class="row" id="top-box">
                  <h3>Output Table</h3>
                  <table class="table table-striped" id="output-table">
                    <thead>
                      <tr>
                        <th style="color: white">Process No.</th>
                        <th style="color: white">Process Size</th>
                        <th style="color: white">Allocation Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
              </div>
          </div>


          <div class="col-sm-4" id="left-box" style="background-color: #26A69A;opacity: 1;margin:10px 0px 20px 100px;" >
              <div class="col-sm-6">
                  <h4 style="color: white">Main Memory</h4>
                  <div id="block-0">
                    <div id = "block--1"> </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <h4 style="color: white">Input Queue</h4>
                  <div id="input-q-box">
                  </div>
                  <br>
                  <button class="btn btn-danger" id="add-process-button" style="color: white">Add Process</button>
              </div>
          </div>

      </div>

  </body>

</html>
